

<ng-container *ngIf="_dashboardLibraryData$ | async as _dashboardLibraryData">
  <div *ngIf="_dashboardLibraryData && _dashboardLibraryData.formData">
    <lib-ngx-super-dashboard
      [dynamicFormFieldData]="_dashboardLibraryData.formData"
      [cardConfig]="_dashboardLibraryData.cardList"
      [chartsConfig]="_dashboardLibraryData.chartList"
      [gridOneConfig]="_dashboardLibraryData.cardtable"
      [gridTwoConfig]="_dashboardLibraryData.gridtable"
      [noteText]="staticData"
      (onSelect)="onSelected($event)"
    ></lib-ngx-super-dashboard>
  </div>
</ng-container>
<router-outlet></router-outlet>
